{{#partial "content"}}
<div class="container">
   <div class="container">
        <h2>All engineers</h2>
        #if($engineers)
        <ul>
            #foreach ($engineer in $engineers)
            <li><a href="/engineers/$engineer.getId()">$engineer.getName()</a></li>
            #end
        </ul>
        #else
        <h3>Sorry you haven't registered any engineer yet!</h3>
        #end

        <a href="/engineers">View all engineers</a>
        <br>
        <a href="/engineers/new">Add a New engineer</a>
        <br>
        <a href="/">Home</a>
    </div>
    <a href="/">Home</a>
</div>

{{/partial}}

{{> layout}}