{{#partial "content"}}
    <div class="container">
        Fill in the form below in order to add an engineer.

        <form action="/engineers" method="post">
            <fieldset>
                <legend>Engineer Details:</legend>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Employment No (EK): </label>
                    <div class="col-sm-10">
                        <input id="ek-no"  name="emp_no" type="number" required><br>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Name:</label>
                    <div class="col-sm-10">
                        <input id="eng-name" name="eng-name" type="text" required><br>
                    </div>
                </div>

               <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Mobile No: </label>
                        <div class="col-sm-10">
                        <input id="mobile" type="tel" required><br>
                        </div>
               </div>

                    <div class="form-group row">

                        <label class="col-sm-2 col-form-label">Date of hire: </label>
                        <div class="col-sm-10">
                            <input type="date" required><br></label>
                        </div>
                    </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Details: </label>
                    <div class="col-sm-10">
                        <input type="text">
                    </div>
                </div>
            </fieldset>
            <input type="submit"> <input type="reset">
        </form>

    </div>

{{/partial}}

{{> layout.hbs}}