{{#partial "content"}}
    <div class="container">
        Fill in the form below in order to add an engineer.

        <form action="/engineer/new" method="post">
            <fieldset>
                <legend>Engineer Details:</legend>
                Employment No (EK): <input id="ek-no"  type="number" required><br>
                Name: <input id="eng-name" name="eng-name" type="text" required><br>
                Mobile No: <input id="mobile" type="tel" required><br>
                Date of hire: <input type="text" required><br>
                Details: <input type="text">
            </fieldset>
            <input type="submit"> <input type="reset">
        </form>

    </div>

{{/partial}}

{{> layout.hbs}}