{{#block "header"}}

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{#block "title"}}Site-Manager{{/block}}</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/">Add Engineer</a></li>
        <li role="presentation"><a href="/posts/new">Allocate Site</a></li>
        <li role="presentation"><a href="/posts/new">Update Site Details</a></li>
        <li role="presentation"><a href="/posts/new">Delete Engineer</a></li>
        <li role="presentation"><a href="/posts/new">Delete Site</a></li>
        <li role="presentation"><a href="/posts/new">Add a New Department Detail</a></li>
        <li role="presentation"><a href="/posts/new">Add a New Department Detail</a></li>
    </ul>
{{/block}}
<div class="page-header">
    <div class="row">
        <div class="col-md-2">
            Field Manager
        </div>
        <div class="col-md-4">
            <h1>Site Maintenance Manager</h1>
            <small><em>For seamless field management!</em></small>
            </div>
        <div class="col-md-5" id="login">
            <form action="/action_page.php">
                <input type="text" placeholder="Username" name="username">
                <input type="text" placeholder="Password" name="psw">
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
<div class="dashboard">
    <h4>Dashboard</h4>
            <ul>
                <li><a href="/">Engineers List</a></li>
                <hr>
                <li><a href="/">Total No. of Site</a></li>
                <hr>
                 <li><a href="/">Work Order Backlogs</a></li>
                <hr>
                <li><a href="/">Reports</a></li>
                <hr>
            </ul>


</div>


{{#block "content"}}

{{/block}}

{{#block "footer"}}
    </div>
    </body>
    </html>
{{/block}}