<!--{{#block "header"}}-->

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{#block "title"}}Site-Manager{{/block}}</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/engineers">Add Engineer</a></li>
        <li role="presentation"><a href="/posts/new">Allocate Site</a></li>
        <li role="presentation"><a href="/posts/new">Update Site Details</a></li>
        <li role="presentation"><a href="/posts/new">Delete Engineer</a></li>
        <li role="presentation"><a href="/posts/new">Delete Site</a></li>
        <li role="presentation"><a href="/sites/new">Add a New Site</a></li>
<!--        <li role="presentation"><a href="/posts/new">Add a New Department Detail</a></li>-->
    </ul>
{{/block}}
<div class="page-header">
    <div class="row">
        <div class="col-md-2">
            Field Manager
        </div>
        <div class="col-md-4">
            <h1>Site Maintenance Manager</h1>
            <small><em>For seamless field management!</em></small>
            </div>
        <div class="col-md-5" id="login">
            <form action="/action_page.php">
                <input type="text" placeholder="Username" name="username">
                <input type="text" placeholder="Password" name="psw">
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
<div class="row">

    <div class="dashboard col-md-4">
        <h4>Dashboard</h4>
        <ul>
            <li><a href="/engineer/all-engineers">Engineers List</a></li>
            <hr>
            <li><a href="/site/all-sites">Sites List</a></li>
            <hr>
            <li><a href="/coming-soon.hbs">Work Order Backlogs</a></li>
            <hr>
            <li><a href="/">Reports</a></li>
            <hr>
        </ul>
    </div>

    <div class="col-md-8">
        {{#block "content"}}

        {{/block}}
    </div>


</div>

{{#block "footer"}}
    </div>
    </body>
    </html>
<!--{{/block}}-->