{{#partial "content"}}
<div class=container>

    <h2>Success!</h2><br>
        <strong>Great!</strong> Your site has been assigned to Eng. $eng-name.getName(). Click on the link below to go back.
    </div>
    <a href="/">Home</a>
    <br>


</div>

{{/partial}}

{{> layout}}